/****************** U S E D   F O N T S **********************/
@font-face {
    font-family   : 'LeagueGothic';
    src           : url('../fonts/League_Gothic-webfont.eot');
    src           : url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/League_Gothic-webfont.woff') format('woff'),
    url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight   : normal;
    font-style    : normal;
}
/********************************************************************************************************/
@font-face {
    font-family: 'Source';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'),
    url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
    url('../fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/********************************************************************************************************/
@font-face {
    font-family: 'ethno';
    src: url('../fonts/ethnocentric_rg-webfont.eot');
    src: url('../fonts/ethnocentric_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ethnocentric_rg-webfont.woff') format('woff'),
    url('../fonts/ethnocentric_rg-webfont.ttf') format('truetype'),
    url('../fonts/ethnocentric_rg-webfont.svg#ethnocentricregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/********************* R E S E T *************************/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/********************************************************************************************************/
img {
    border: none;
    border-radius: 3px;
}
/********************************************************************************************************/
button {
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    background-color: black;
    border: none;
    font-family: LeagueGothic, sans-serif;
    font-size: 140%;
    padding-left: 15px;
}
/********************************************************************************************************/
/*button:hover {*/
/*    color: #B82924;*/
/*    background-color: black;*/
/*}*/
/********************************************************************************************************/


a {
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
/********************************************************************************************************/
a:hover {
    color: #B82924;
}
/********************************************************************************************************/
p {
    margin-bottom: 8px;
}
/********************************************************************************************************/
::-moz-selection {
    background-color: #B82924;
    color: #fff;
}
/********************************************************************************************************/
/* Works in Safari */
::selection {
    background-color: #B82924;
    color: #fff;
}
/********************************************************************************************************/
/************** G E N E R A L    S T Y L E ***************/
/********************************************************************************************************/
#wrapper {
    width: 950px;
    margin: 16px auto;
    background-color: #121212;
    padding: 20px 20px;
    box-shadow: 0 4px 6px #000;
}
/********************************************************************************************************/
body {
    background: url('../img/bg.png') repeat;
    font-family: Source, Tahoma, sans-serif;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 0px #000;
}
/********************************************************************************************************/
#srt {
    color: #f9f9f9;
    display: block;
    float: right;
    position: absolute;
    top: 14px;
    left: 180px;
    text-shadow: 1px 1px 0px #000;
    font-size: 36px;
    font-style: italic;
    font-family: ethno, sans-serif;
    font-weight: normal;
}
/********************************************************************************************************/
#ii {
    font-size: 60px;
    font-family: LeagueGothic, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 169px;
    top: -3px;
    color: #b82924;
    display: block;
    float: right;
    text-shadow: none;
    font-style: italic;
    letter-spacing: 2px;
}
/********************************************************************************************************/
/************* L O G O   &  N A V   B A R    S T Y L E ****************/
/********************************************************************************************************/
header h1 {
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.5em;
    text-shadow: 1px 1px 0 #000;
    position: relative;
    width: 300px;
    margin-bottom: 2px;
}
/********************************************************************************************************/
header h2 {
    font-size: 16px;
    font-weight: normal;
    font-family: LeagueGothic, sans-serif;
    width: 170px;
    text-shadow: 1px 1px 0 #000;
    text-transform: uppercase;
}
/********************************************************************************************************/
#tagline {
    margin-top: -8px;
}
/********************************************************************************************************/
#logo, nav, nav li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
/********************************************************************************************************/
#logo {
    width: 270px;
}
/********************************************************************************************************/
nav a {
    color: #fff;
    font-family: LeagueGothic, sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #000;
}
/********************************************************************************************************/
nav {
    margin: 20px 4px 0 0;
    float: right;
}
/********************************************************************************************************/
header {
    margin-bottom: 25px;
}
/********************************************************************************************************/
#home a#homenav, #blog a#blognav, #fullwidth a#fullwidthnav, #contact a#contactnav button#dropbtn {
    color: #b82924;
}
/********************************************************************************************************/
/*************** B A N N E R    S T Y L E ******************/
/********************************************************************************************************/
#banner {
    position: relative;
    margin-bottom: 30px;
}
/********************************************************************************************************/
#banneri {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 500px;
    background-color: rgba(0, 0, 0, .8);
    padding: 5px 10px;
}
/********************************************************************************************************/
#banner img {
    box-shadow: 0 4px 6px #000;
}
/********************************************************************************************************/
#banner h1 {
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #000;
    display: inline;
}
/********************************************************************************************************/
#banner .rm {
    position: absolute;
    color: #000;
    background-color: #fff;
    padding: 4px 8px;
    right: 3%;
    bottom: -10%;
}
/********************************************************************************************************/
/************* H O M E    C O N T E N T *******************/
/********************************************************************************************************/
#line h1 {
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #f8f8f8;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}
/********************************************************************************************************/
#line h1, .dline {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 0 0 10px;
}
/********************************************************************************************************/
#line {
    margin: 0 0 0 80px;
}

/********************************************************************************************************/
.dline {
    width: 312px;
    height: 3px;
    background: url('../img/bgdline.png') repeat-x;
    margin-bottom: 10px;
}
/********************************************************************************************************/
#ourserv article {
    width: 275px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0 38px 0 0;
}
/********************************************************************************************************/
#ourserv article h1, #latestp article h1 {
    font-family: LeagueGothic, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 5px;
}
/********************************************************************************************************/
.lastarticle {
    margin: 0;
}
/********************************************************************************************************/
#ourserv {
    margin: 8px 0 15px 20px;
    width: 100%;
}
/********************************************************************************************************/
#ourserv img, #latestp img {
    margin-bottom: 5px;
    box-shadow: 0 4px 6px #000;
}
/********************************************************************************************************/
.rm {
    color: #121212;
    background-color: #F2F2F2;
    padding: 1px 4px;
    display: block;
    width: 58px;
    margin-top: 5px;
    box-shadow: 0px 0px 3px #000;
    font-family: LeagueGothic, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 2px;
}
/********************************************************************************************************/
.rm:hover {
    background-color: #B82924;
    color: #121212;
}
/********************************************************************************************************/
#sline h1 {
    font-family: LeagueGothic, Impact, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #f5f5f5;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}
/********************************************************************************************************/
#sline h1, .sdline {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 0 0 10px;
}
/********************************************************************************************************/
#sline {
    margin: 20px 0 10px 80px;
}
/********************************************************************************************************/
.sdline {
    width: 300px;
    height: 2px;
    background: url('../img/bgdline.png') repeat-x;
    margin-bottom: 10px;
}
/********************************************************************************************************/
#latestp article {
    width: 210px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 20px;
}
/********************************************************************************************************/
#latestp {
    margin-left: 20px;
}
/********************************************************************************************************/
/************* B L O G    S T Y L E  &   C O N T A C T   P A G E *****************************/
/********************************************************************************************************/
#articles, #sidebar {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
/********************************************************************************************************/
#blog section, #contact section {
    margin: 30px 0 0 10px;
}
/********************************************************************************************************/
#sidebar, #contat #sidebar {
    width: 280px;
    margin: 0 0 0 55px;
}
/********************************************************************************************************/
#articles, #contactpost {
    width: 600px;
    margin: 0 0 40px 0;
}
/********************************************************************************************************/
#blog li, #contact li {
    list-style-type: square;
}
/********************************************************************************************************/
#blog article {
    width: 580px;
    margin-bottom: 40px;
}
/********************************************************************************************************/
#blog footer, #contact footer {
    margin-top: 0px;
}
/********************************************************************************************************/
#blog article h1 a {
    font-family: LeagueGothic, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 1px 1px 0 #000;
    word-spacing: 2px;
    margin-bottom: 5px;
}
/********************************************************************************************************/

#blog article h2 {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
    background-color: #0a0a0a;
    padding: 4px 8px 4px 8px;
    font-family: source, sans-serif;
    text-transform: none;
}
/********************************************************************************************************/
#blog article h2 a:hover {
    text-decoration: underline;
}
/********************************************************************************************************/
#blog article img {
    box-shadow: 0 4px 6px #000;
    margin-bottom: 10px;
}
/********************************************************************************************************/
#sidebar h1, #contact #sidebar h1 {
    font-family: LeagueGothic, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 1px 1px 0 #000;
    word-spacing: 2px;
    margin-bottom: 4px;
}
/********************************************************************************************************/
#sidebar li, #contact #sidebar li {
    margin: 0 0 4px 25px;
    color: #b82924;
}
/********************************************************************************************************/
#sidebar li:hover, #contact #sidebar li:hover {
    margin-left: 30px;
}
/********************************************************************************************************/
#sidebar li a:hover, #contact #sidebar li a:hover {
    text-decoration: underline;
}
/********************************************************************************************************/
#blog aside, #contact #sidebar aside {
    margin: 0 0 20px 0;
}
/********************************************************************************************************/
#cat, #archives, #contact #sidebar #cat, #contact #sidebar #archives {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
/********************************************************************************************************/
.continue {
    text-decoration: underline;
}
/********************************************************************************************************/
/* SINGLE POST STYLE  and CONTACT PAGE with SIDEBAR*/
/********************************************************************************************************/
#singlepost, #sidebar, #contactpost {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
/********************************************************************************************************/
#singlepost {
    margin-right: 20px;
}
/********************************************************************************************************/
/* CONTACT PAGE */
#contactpost p {
    margin-bottom: 25px;
}
/********************************************************************************************************/
input[type="user"] {
    display: block;
    float: right;
    height: 20px;
    width: 280px;
    padding-left: 3px;
}
/********************************************************************************************************/
input[type="email"] {
    display: block;
    float: right;
    height: 20px;
    width: 280px;
    padding-left: 3px;
}
/********************************************************************************************************/
#message {
    display: block;
    float: right;
    width: 280px;
    height: 130px;
    padding-left: 3px;
}
/********************************************************************************************************/
input[type="submit"] {
    display: block;
    float: right;
    font-family: LeagueGothic, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px outset #b2b2b2;
    color: #121212;
}
/********************************************************************************************************/
input, #message {
    margin-right: 180px;
    background-color: #f8f8f8;
    border: 2px inset #000;
    border-radius: 3px;
}
/********************************************************************************************************/
input[type="submit"]:hover {
    cursor: pointer;
}
/********************************************************************************************************/
input[type="submit"]:active {
    border: 2px inset #b2b2b2;
}
/********************************************************************************************************/
/************* F U L L  W I D T H   &  S I N G L E   P O S T    S T Y L E*********************/
/********************************************************************************************************/
#fullwidth h1, #fullwidth h2, #fullwidth h3, #fullwidth h4, #fullwidth h5, #fullwidth h6, h1, h2, h3, h4, h5, h6 {
    font-family: LeagueGothic, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
/********************************************************************************************************/
#fullwidth section h2, #singlepost section h2 {
    color: #b82924;
}
/********************************************************************************************************/
.mg { /*just for examples, do not use this class*/
    margin: 8px 0 12px 0;
}
/********************************************************************************************************/
#fullwidth section a, #singlepost section a {
    text-decoration: underline;
}
/********************************************************************************************************/
#fullwidth section ul li, #singlepost section ul li {
    list-style-type: square;
    margin-left: 20px;
}
/********************************************************************************************************/
#fullwidth section ol li, #singlepost section ol li {
    list-style-type: decimal;
    margin-left: 20px;
}
/********************************************************************************************************/
.right {
    float: right;
    margin-left: 10px;
}
/********************************************************************************************************/
.left {
    float: left;
    margin-right: 10px;
}
/********************************************************************************************************/
.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}
/********************************************************************************************************/
/************* F O O T E R     S T Y L E *************************/
/********************************************************************************************************/

footer {
    margin-top: 30px;
    text-align: right;
}

/********************************************************************************************************/
.dropdown {
  position: relative;
  display: inline-block;
}
/********************************************************************************************************/
.dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color:black;
    z-index: 1;
}
/********************************************************************************************************/
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/********************************************************************************************************/
.dropdown-content a:hover {background-color: black; color: red}
/********************************************************************************************************/
.dropdown:hover .dropdown-content {

     color: white;
    display: block;
    background-color: black;
}
/********************************************************************************************************/
#DropDownContent {
    background-color: black;
    color: white;
}
/*==================================================================================================================*/
