.header {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    border: 1px dotted rgba(0, 0, 0, 0);
    text-align: center;
    background: #777;
  }
   
  .profile {
    position: absolute;
    z-index: 1000;
    width: 150px;
    height: 150px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: #c0b0b038;
    top: 37%;
    left: 17%;
    text-align: center;
  }
  .content {
    display: block;
    width: 100%;
    border: 1px dotted black;
    background: rgba(255, 255, 255, 0);
    height: 90px;
  }
  
  .content p {
    margin-top: 30px;
    padding: 10px;
  }

  .bio {
      display: block;
      text-align: center;
      border: 2px;
      font-size: 24px;
  }
  .title p {
    display: block;
    border: 1px dotted black;
    text-align: center;
    border: 2px;
    top: 25px;
    font-size: 18px;
}

.con {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    height: 50px;
  }