{%extends 'base.html'%}
{%load static%}


{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
{% endblock %}

{%block content%}
<form method="POST">
    {%csrf_token%}
    {{form}}
    <input type="Submit" value="send">
</form>
{%endblock%}