
{% extends 'base.html'%}
{% load static %}


{% block content %}

<form method="POST">
    {% csrf_token %}
    <div>
        <!-- Title -->
        {{ form_post.as_p }}
    </div>
    <div>
        {{ form_post.media }}
    </div>
    <br>
        <input type="submit" value="Create">
    </br>
</form>

{% endblock %}