{%extends 'base.html'%}

{%block content%}
<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }} : {{object.text}} comment?</p>
    <input type="submit" value="Delete">
</form>
{%endblock%}