{% extends 'base.html' %}
{% load static %}



{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
{% endblock %}




{% block content %}
        
    <div class="searchdiv">
    <form method="GET" action="{% url 'blog:search' %}" class="search-container">
        <input type="text" name="search" placeholder="Search..." class="search-input">
            <a href="#" class="search-btn">
                <i class="fas fa-search"></i>      
            </a>
    </form>
    </div>
    <div id="sline">
        <div class="sdline"></div>
        <h1>NEW POSTS</h1>
        <div class="sdline"></div>
    </div>

    <div id="latestp">
        {% for item in newposts %}
            <article>
                <h1> <a href="{% url 'blog:detail' item.id item.slug %}"> {{ item.title }}</a></h1>
                <p>{{ item.description|truncatewords:50 }}</p>
                <a href="{% url 'blog:detail' item.id item.slug %}" class="rm">Read More</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
