{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/comment.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="searchdiv">
    <form method="GET" action="{% url 'blog:search' %}" class="search-container">
        <input type="text" name="search" placeholder="Search..." class="search-input">
            <a href="#" class="search-btn">
                <i class="fas fa-search"></i>      
            </a>
    </form>
    </div>


<form method="POST" action="{% url 'user:bookmark' post.id post.slug %}">
    {% csrf_token %}
    {% if not bookmarked %}
        <button type="submit", name="post_id", value = "{{ post.id }}" class="far fa-bookmark"></button>
    {% else %}
        <button type="submit", name="post_id", value = "{{ post.id }}" class="fas fa-bookmark"></button>
    {% endif %}
</form>
<article>
    <h1>{{post.title}}</h1>
    <h3>{{post.jalali_date}}</h3>
    <h4>نوشته شده توسط <a href="{% url 'user:dashboard' post.user.id %}">{{ post.user.username }}</a></h4>
    <hr>
    <p>{{post.body|safe}}</p>
    
    <form method="POST" action="{% url 'blog:like_post' post.id post.slug %}">
        {% csrf_token %}
        {% if Liked %}
            <button type="submit", name="post_id", value = "{{ post.id }}" class="btn btn_danger btn_sm">Unlike</button>
            {{ total_likes }} Likes{{ total|pluralize }}
        {% else %}
            <button type="submit", name="post_id", value = "{{ post.id }}" class="btn btn_primary btn_sm">Like</button>
            {{ total_likes }} Likes{{ total|pluralize }}
        {% endif %}
    </form>
</article>

<div >
    <center>
<form method="POST" class="send-comment-box">
    {%csrf_token%}
    <p>{{form}}</p>
    <input style="color: red;" class="send-btn" type="Submit" value="ارسال دیدگاه">
</form>
</center>
</div>

<br><br>
<h1 class="title">Comments</h1>
{% with total=comments.count %}
<p>This post has {{ total }} comment{{ total|pluralize }}</p>
{% endwith %}



<div class="base-comment">
    {%for comment in comments%}
    
    <div class="box">
    <img src="{{ comment.user.profile.image.avatar.url }}" class="profile">
    <p  class="comment-header"><a href="{%url 'user:dashboard' user.id%}">{{comment.user.username}} </a></p>
    <hr>
    {%if comment.is_reply == True%}
    <p  class="comment-body"> <span>@{{comment.username_reply}}</span> <span>{{comment.text}}</span> <a class="comment-reply" href="{%url 'blog:reply' post.id comment.id%}">reply</a> 
    


    {% if request.user == comment.user %} <a class="comment-update" href="{%url 'blog:update' comment.id %}">update</a> 
    <a class="comment-delete" href="{%url 'blog:delete' comment.id %}">delete</a>{%endif%} </p>
    


    {%else%}
    <p  class="comment-body">{{comment.text}} <a class="comment-reply" href="{%url 'blog:reply' post.id comment.id%}">reply</a>


        {% if request.user == comment.user %} <a class="comment-update" href="{%url 'blog:update' comment.id %}">update</a>
        <a class="comment-delete" href="{%url 'blog:delete' comment.id%}">delete</a>
        {%endif%}</p>


    {%endif%}
</div>
    {%endfor%}
{% endblock %}