{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for post in all_search_results %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <img src="{{ post.images.image1.url }}">
    {% empty %}
        <h2>No results found</h2>
    {% endfor %}
{% endblock %}