.profile {
    position: relative;
    z-index: 1000;
    width: 75px;
    height: 75px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10%;
    background: #c0b0b038;
    top: 0%;
    left: 0%;
    text-align: center;
  }