.box{
  border: 3px outset black;
  padding: 3px;
  margin: 6px;
}

.base-comment{
  border: 2px solid white;
  padding: 3px;
}

.comment-header{
  color: red;
  
}

.comment-body{
  height: 35px;
  padding: 5px;
  margin-top: 15px;
}


.comment-reply{
  color: black;
  padding-left: 40px;
  border: 2px solid white;
  background-color: red;
  padding: 5px;
  margin-top: 5px;
  float: right;
  margin-right: 5px;
  font-weight: bold;
  font-size: 120%;
  border-radius: 15px;
}









.comment-update{
  color: black;
  padding-left: 40px;
  border: 2px solid white;
  background-color: blue;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 120%;
  float: right;
  border-radius: 15px;
}





.comment-delete{
  color: black;
  padding-left: 40px;
  border: 2px solid white;
  background-color: red;
  padding: 5px;
  margin-top: 5px;
  float: right;
  margin-right: 5px;
  font-weight: bold;
  font-size: 120%;
  border-radius: 15px;
}

.title{
  color: purple;
}


.send-comment-box{
  
}

input{
  color: red;
}

.send-btn{
  margin-right: 400px;
  background-color: black;
  color: red;
}


.comment-text{
  margin-left: 100px;
}




.responsive-image {
  width: 153%;
  height: auto;
}

.searchdiv{
  margin: 0;
  padding: 0;
  background-color: #121212;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container{
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  inset -7px -7px 10px 0px rgba(0,0,0,.1),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
 text-shadow:  0px 0px 6px rgba(255,255,255,.3),
            -4px -4px 6px rgba(116, 125, 136, .2);
text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
  width: 400px;
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}




.search-container .search-btn .fas{
  color: #5cbdbb;
}




@keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}



.search-container:hover{
animation: hoverShake 0.15s linear 3;
}


