{% extends 'base.html'%}
{% load static %}

{% block title %}
    Bookmark
{% endblock %}

{% block content %}
    <p>
        Your bookmarks
    </p>
    {% for item in bookmark %}
        <article>
            <h1> <a href="{% url 'blog:detail' item.id item.slug %}"> {{ item.title }}</a></h1>
            <p>{{ item.description|truncatewords:50 }}</p>
            <a href="{% url 'blog:detail' item.id item.slug %}" class="rm">Read More</a>
        </article>
    {% endfor %}

{% endblock %}