{% extends 'base.html'%}
{% load static %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form_p.biography }}
        biography 
    </div>
    <div>
        {{ form_p.phone_number }}
        phone_number
    </div>
    <div>
        {{ form_i.avatar }}
        avatar
    </div>
    <div>
        {{ form_i.header_image }}
        header
    </div>
    <div>
        {{ form_s.telegram }}
        telegram id
    </div>
    <div>
        {{ form_s.github }}
        github id
    </div>
    <div>
        {{ form_s.instagram }}
        instagram id
    </div>
    <div>
        {{ form_s.linkedin }}
        linkedin id
    </div>
    <div>
        {{ form_s.gitlab }}
        gitlab id
    </div>
    <div>
        {{ form_s.tweeter }}
        tweeter id
    </div>
    <br>
        <input type="submit" value="Register">
    </br>
    
</form>
    {% for field in form_s %}
        {% for error in field.errors %}
        <p style="color: rgba(255, 0, 0, 0.678)">{{ error }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}