{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username }} Profile {% endblock %}




{% block js_files %}
<script src="{% static 'user/script.js' %}"></script>
{% endblock %}




{% block content %}

{% block head %}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
{% endblock %}

<h1 class="text-center">{{ user.username|capfirst }}</h1>
<br>

<div class="main-container">
        {{ user.profile }}
        {% if user.profile.image.header_image %}
            <img src="{{ user.profile.image.header_image.url }}" class="header">
        {% else %}
            <img src={% static "img/header.png" %} class="header">
        {% endif %}  
        {% if user.profile.image.avatar %}
            <img src="{{ user.profile.image.avatar.url }}" class="profile">
        {% else %}
        <img src={% static "img/profile.png" %} class="profile">
        {% endif %}
    <div class="content">
      
    </div>
</div>


{% if self_dash %}
    <br><a href="{% url 'blog:create_post' %}"><i class="fas fa-plus fa-3x"> </i>ADD POST</a></br>
    <br><a href="{% url 'user:create profile' %}"><i class="fas fa-edit fa-2x"></i>EDIT PROFILE</a></br>
{% endif %}



<p class='bio'>BIOGRAPHY</p>
<p class="text-center">{{ user.profile.biography | linebreaks }}</p>

<br><br>

{% if user.profile.social %}
    <p class='bio'>Social Networks</p>

    {% if user.profile.social.github %}              <!--github-->     
        <a href="http://{{ user.profile.social.github }}" target = _blank style="margin: 5px;"><i class="fab fa-github fa-2x"></i></a>
    {% endif %}

    {% if user.profile.social.gitlab %}              <!--gitlab-->
        <a href="http://{{ user.profile.social.gitlab}}" target = _blank style="margin: 5px;"><i class="fab fa-gitlab fa-2x"></i></a>
    {% endif %}

    {% if user.profile.social.instagram %}           <!--instagram-->
        <a href="http://{{ user.profile.social.instagram }}" target = _blank style="margin: 5px;"><i class="fab fa-instagram fa-2x"></i></a>
    {% endif %}

    {% if user.profile.social.tweeter %}             <!--tweeter-->
        <a href="http://{{ user.profile.social.tweeter }}" target = _blank style="margin: 5px;"><i class="fab fa-twitter fa-2x"></i></a>
    {% endif %}

    {% if user.profile.social.linkedin %}             <!--linkedin-->
        <a href="http://{{user.profile.social.linkedin }}" target = _blank style="margin: 5px;"><i class="fab fa-linkedin-in fa-2x"></i></a>
    {% endif %}
    
    {% if user.profile.social.telegram %}             <!--telegram-->
        <a href='http://{{ user.profile.social.telegram }}' target = _blank style="margin: 5px;"><i class="fab fa-telegram-plane fa-2x"></i></a>
    {% endif %}

{% endif %}















{% if request.user.id != user.id and not is_following %}
<button id="following_btn" data-id="{{ user.id }}" style="display:block" class="btn btn-primary text-center mx-auto">follow</button>
{% elif request.user.id != user.id and is_following %}
<button id="following_btn" data-id="{{ user.id }}" style="display:block" class="btn btn-warning text-center mx-auto">unfollow</button>
{% endif %}



















<br/><br/><br/>
















{% if posts is not empty %}
    <h1 class="center" >posts</h1>
{% endif %}

{% for post in posts %}
    <div class="card">
        <a class='title' href="{% url 'blog:detail' post.id post.slug %}"><p>{{ post.title }}</p></a>
        <p class="card-body">{{ post.body | safe | truncatewords:50}}</p>
        <a href="{% url 'blog:detail' post.id post.slug %}" class="rm">Read More</a>
    </div>
    <br><hr><br>
{% empty %}
    <p>This user has no posts</p>
{% endfor %}

{% endblock %}