{% extends 'base.html' %}
{% load static %}



{% block title %}
Fallowers
{% endblock %}
{% block content %}
<p>
    followers:
</p>

{% for item in followers %}
    <p>
        {{ item.username }}
    </p>
{% endfor %}

{% endblock %}