{% extends 'base.html' %}
{% load static %}

{% block title %}
Fallowings
{% endblock %}
{% block content %}
<p>
    following:
</p>

{% for item in following %}
    <p>
        {{ item.username }}
    </p>
{% endfor %}

{% endblock %}