{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <p>
          <span>
            {{ field.label_tag }}
          </span>
          <span>
            {{ field }}
          </span>
          
        </p>
        
          
        {% if field.help_text %}
          <small style="color: rgb(104, 175, 180)">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: rgba(187, 11, 11, 0.678)">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
