{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->

<section>
			
    <!--__--__--__-- A R T I C L E S --__--__--__--__-->

    <div id="articles">
        {% for item in postuser %}
        <article>
            <h1><a href="singlepost.html"> {{ item.title }} </a></h1>
            <h2>Posted By: <a href="#">Admin</a> On {{ item.create_date }}.</h2>
            <img src="images/a1.jpg" alt="" />
            <p> {{ item.description|truncatewords:50 }} <a class="continue" href="">Continue Reading</a></p>
        </article>
        {% endfor %}
    </div>

</section>

{% endblock %}