{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> 
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nivo_slider.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/default/default.css' %}" type="text/css" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/jquery.nivi.slider.pack.js' %}" type="text/javascript"></script>
    <link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% block head %}
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body id="blog">

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
        </ul>
    {% endif %}

<div id="wrapper">
    <!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
    <header>
        <div id="logo">
            <h1>PORTFOLIO <span id="ii">II</span> <span id="srt">OPTIVAS</span></h1>
            <div id="tagline">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'blog:Home' %}" id="homenav">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
                <div class="dropdown">
                    <button id="dropbtn">Login | Logout</button>
                    <div class="dropdown-content" id="DropDownContent">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'user:logout' %}">Logout</a>
                        <a href="{% url 'user:dashboard' request.user.id %}">Dashboard</a>
                        {% else %}
                        <a href="{% url 'user:login' %}">Login</a>
                        <a href="{% url 'user:signup' %}">Register</a>
                        {% endif %}f
                    </div>
                </div>
            </ul>
        </nav>
    </header>
    <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
    <section>
        {% block content %}
        {% endblock %}
        <!--__--__--__--  S I D E B A R --__--__--__--__-->
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{% block js_files %}{% endblock %}
</body>
</html>
		
		
			